AWS_REGION=ap-southeast-2
SQS_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/123456789012/dev-grafana-waf-ingest
LOKI_URL=http://loki.dev-grafana.local:3100/loki/api/v1/push
LOKI_TENANT_ID=
POLL_WAIT_SECONDS=20
POLL_MAX_MESSAGES=10
WORKER_CONCURRENCY=2
S3_READ_TIMEOUT_SECONDS=60
LOKI_PUSH_TIMEOUT_SECONDS=15
LOKI_BATCH_MAX_BYTES=200000
LOKI_BATCH_MAX_LINES=200
LOKI_MAX_RETRIES=4
MAX_INFLIGHT_PUSHES=4
MESSAGE_VISIBILITY_HEARTBEAT_SECONDS=30
SHUTDOWN_GRACE_SECONDS=20
WAF_ACL_ALLOWLIST=
WAF_ACTION_ALLOWLIST=
SAMPLE_ALLOW_PERCENT=100
ENABLE_GEOIP=false
ENABLE_COUNTRY_CENTROID=true
